{% extends "auth/auth_base.html" %}

{% block title %}Recuperar contrasenya{% endblock %}

{% block header %}
Has oblidat la contrasenya?
{% endblock %}

{% block subheader %}
Introdueix el teu correu electrònic i t'enviarem instruccions.
{% endblock %}

{% block content %}

<form method="post">
{% csrf_token %}

<div class="mb-4">

<label class="form-label">
<i class="bi bi-envelope me-2"></i>
Correu electrònic
</label>

{{ form.email }}

</div>

<div class="d-grid">

<button type="submit" class="btn btn-primary btn-lg rounded-pill">
<i class="bi bi-envelope-arrow-up me-2"></i>
Enviar instruccions
</button>

</div>

</form>

{% endblock %}