{% extends "auth/auth_base.html" %}

{% block title %}Correu enviat{% endblock %}

{% block header %}
Revisa el teu correu
{% endblock %}

{% block subheader %}
Si l'email existeix, rebràs instruccions per canviar la contrasenya.
{% endblock %}

{% block content %}

<div class="alert alert-success text-center">
<i class="bi bi-envelope-check me-2"></i>
T'hem enviat un correu amb les instruccions per recuperar la contrasenya.
</div>
<a href="{% url 'login' %}" class="btn btn-primary rounded-pill">
Tornar al login
</a>

{% endblock %}