{% extends "auth/auth_base.html" %}

{% block title %}Nova contrasenya{% endblock %}

{% block header %}
Nova contrasenya
{% endblock %}

{% block subheader %}
Introdueix la nova contrasenya per al teu compte.
{% endblock %}

{% block content %}

<form method="post">
{% csrf_token %}

<div class="mb-4">

<label class="form-label">
<i class="bi bi-lock me-2"></i>
Nova contrasenya
</label>

<input
type="password"
name="new_password1"
class="form-control form-control-lg"
required

>

{% if form.new_password1.errors %}

<div class="text-danger small mt-1">
{{ form.new_password1.errors }}
</div>
{% endif %}

</div>

<div class="mb-4">

<label class="form-label">
<i class="bi bi-lock-fill me-2"></i>
Confirma la nova contrasenya
</label>

<input
type="password"
name="new_password2"
class="form-control form-control-lg"
required

>

{% if form.new_password2.errors %}

<div class="text-danger small mt-1">
{{ form.new_password2.errors }}
</div>
{% endif %}

</div>

<div class="d-grid">

<button type="submit" class="btn btn-primary btn-lg rounded-pill">
<i class="bi bi-check-circle me-2"></i>
Canviar contrasenya
</button>

</div>

</form>

{% endblock %}
