<div class="mb-5">
    <h5 class="text-primary mb-4">
        <i class="bi bi-stars me-2"></i> Capacitats clau
    </h5>

    <div class="row">
        <div class="col-md-12 mb-3">
            <div id="capacitatsLliures-container" class="mb-3">
                <!-- S'omple amb JavaScript -->
            </div>

            <div class="input-group mb-2">
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" id="nova-capacitat-lliure" class="form-control" placeholder="Escriu una capacitat clau" list="datalist-capacitats">
                        <datalist id="datalist-capacitats">
                            {% for capacitat in capacitats %}
                                <option value="{{ capacitat.nom }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="col-auto">                   
                        <button type="button" class="tercer-btn" onclick="CapacitatsManager.afegirCapacitatLliure()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <small class="text-muted">Pots escriure lliurement o seleccionar una capacitat suggerida. Prem "+" per afegir-la.</small>
            <div id="error-capacitats" class="error-validacio form-text text-danger"></div>
        </div>
    </div>
</div>
